<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${title}"></title>
</head>
<body>
<section>

    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">LIST OF STUDENTS</h1>

            <form action="/admin/search">
                <div>
                    <span style="display:inline-block">
                        <div class="container my-1">
                            Search Here: <input type="text" name="optionValue"
                                                placeholder="Enter name"
                                                size="50" required/>
                        </div>
                    </span>
                    <span "d-inline-block">
                    <div style="display:inline-block" class="form-group d-inline-block">
                        <select name="optionName" class="form-control d-inline-block">
                            <option value="name"> Name</option>
<!--                            <option value="email">by Email</option>-->
                        </select>
                    </div>
                    </span>
                    <span class="d-inline-block">
                        <button class="btn btn-sm btn-info"  type="submit">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>Search
                        </button>
                    </span>
                    <!-- Add Student Button -->
                    <div class="text-right">
                        <button class="btn btn-primary" onclick="openSignupPage()">Add Student</button>
                    </div>


                </div>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
<!--                    <th scope="col">ROLE</th>-->
<!--                    <th scope="col">ACTIVE-STATUS</th>-->
                    <th scope="col">STATUS</th>
                    <th scope="col">Marks Obtained</th>
                    <th scope="col">ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.name}">Mark</td>
                    <td th:text="${user.email}">Mark</td>
<!--                    <td th:text="${user.role}">Mark</td>-->
<!--                    <td th:text="${user.enabled}">Mark</td>-->
                    <td>
                        <span th:if="${user.hasAssignedQuestions}">Questions assigned</span>
                    </td>
                    <td th:text="${user.score}">Mark</td>


                    <td>
                        <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{mcq/exam12/{userId}(userId=${user.id})}" class="btn btn-info">GO</a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div th:if="${searchResult}">
                <a class="btn btn-sm btn-info mb-3" href="/admin/show-users">Back</a>
            </div>
<!--            Pagination starts from Here&ndash;&gt;-->
            <!--<nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}"  class="page-item"><a th:href="@{/admin/show-users/(page=${currentPage - 1})}" class="page-link" href="#">Previous</a></li>

                    <li th:classappend="${currentPage == page} ? active" th:each="page : ${#numbers.sequence(0,totalPages-1)}"
                        class="page-item"><a th:href="@{/admin/show-users(page=${page})}" class="page-link"
                                                                                              href="#"><span th:text="${page + 1}"></span></a></li>



                    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{/admin/show-users(page=${currentPage + 1})}" class="page-link" href="#">Next</a></li>
                </ul>
            </nav>-->
            <div th:if="${totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item previous-item" th:classappend="${currentPage == 0} ? disabled">
                        <a class="page-link" th:href="@{/admin/show-users(page=${currentPage - 1})}">Previous</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, totalPages-1)}" th:classappend="${currentPage == page} ? active : page-item">
                        <a class="page-link" th:href="@{/admin/show-users(page=${page})}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item next-item" th:classappend="${currentPage == totalPages - 1} ? disabled">
                        <a class="page-link" th:href="@{/admin/show-users(page=${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div th:if="${successMessage}" class="alert alert-success">
        <strong>Success:</strong> <span th:text="${successMessage}"></span>
    </div>

</section>
</body>
</html>
<form action="#" th:action="@{/admin/mcq/examsList/{userId}(userId=${user.id})}" method="get">